.checkout {
  display: flex;
  padding: 14px 18px 18px;
  background-color: white;
}

.checkout__header {
  padding: 10px;
  margin-right: 30px;
}

.checkout__header > hr {
  margin: 10px auto;
  border: 1px solid rgb(223, 223, 223);
}

.checkout__header > a {
  font-size: 13px;
  color: #007185;
}

@media screen and (max-width: 900px) {
  .checkout {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .checkout__header {
    padding: 10px;
    margin: 0;
  }
}
