.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__checkbox {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  margin-top: 90px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
  font-family: inherit;
  color: #007185;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__count {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin: 10px 6px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  clear: black;
}

@media screen and (max-width: 900px) {
  .checkoutProduct__image {
    object-fit: contain;
    width: 150px;
    height: 150px;
  }
  .checkoutProduct__title {
    font-size: 12px;
    font-weight: 500;
    color: #007185;
  }
}
