.orderProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.orderProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.orderProduct__info {
  padding-left: 20px;
}

.orderProduct__title {
  font-size: 17px;
  font-weight: 700;
  font-family: inherit;
  color: #007185;
}

.orderProduct__rating {
  display: flex;
}

.orderProduct__count {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin: 10px 6px;
}

@media screen and (max-width: 900px) {
  .orderProduct__title {
    font-size: 13px;
    font-weight: 500;
  }
  .orderProduct__rating {
    display: none;
  }
}
